TTBGCONNECTION BITMAP TBGCONNECTION.BMP
TBGFiredacDriverConexao BITMAP TBGFiredacDriverConexao.BMP
TBGDBExpressDriverConexao BITMAP TBGDBExpressDriverConexao.BMP
TBGZeosDriverConexao BITMAP TBGZeosDriverConexao.BMP
TBGUnidacDriverConexao BITMAP TBGUnidacDriverConexao.bmp